
.gallery-images .gallery-item{
    margin-bottom: 10px;
}
.slide-item{
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd ;
}
.skill-wrapper .skill-item{
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd ;
}
.fact-wrapper .fact-item{
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd ;
}
.team-wrapper .team-item{
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd ;
}